:root{ /* Variáveis */
    --bgColor: #333333;
    --mainColor: #56DFB9;
    --fontColor: #969FAA;
}

/* Fontes */
@font-face{
    font-family: 'mainFont';
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face{
    font-family: 'secondaryFont';
    src: url(./fonts/Arvo-Regular.ttf);
}

@font-face{
    font-family: 'roboto2';
    src: url(./fonts/Roboto-Regular.ttf);
}

html, body{ /* Reset */
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bgColor);
    color: white;
    font-family: mainFont;
}

.logo{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo img{
    max-width: 100px;
}

.login{
    text-align: center;
    font-size: 25px;

    height: 280px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input{
    width: 320px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    
    font-size: 20px;
}

.login input::placeholder{
    font-size: 20px;
    color: var(--bgColor);

    position: relative;
    left: 10px;
}

.button{
    width: 325px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--mainColor);

    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: center;

    font-size: 25px;
}

.button a{
    text-decoration: none;
    color: white;
    width: 320px;

    position: relative;
    display: flex;
    justify-content: center;
}

#btnEntrar{
    margin-left: auto;
    margin-right: auto;
}

.redesSociais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-size: 20px;
}

.google{
    width: 320px;
    height: 60px;

    background-color: white;
    border-radius: 10px;

    margin-bottom: 10px;
}

.google img{
    max-width: 32px;
    margin: 14px;
}

.google p{
    color: #333333;
    display: flex;
    justify-content: center;

    position: relative;
    bottom: 63px;
    left: 20px;

    font-size: 18px;
}

.facebook{
    width: 320px;
    height: 60px;

    background-color: #3B5998;
    border-radius: 10px;
}

.facebook p{
    display: flex;
    justify-content: center;

    position: relative;
    bottom: 65px;
    left: 20px;

    font-size: 18px;
}

.facebook img{
    max-width: 32px;
    margin: 15px;
}


.cadastre-se{
    color: var(--fontColor);
    font-size: 15px;
    text-align: center;

    margin-top: 50px;
}

.cadastre-se a{
    color: #f0f0f0;
}

.adm{
    color: white;
    font-size: 20px;

    margin: 15px;
}

.adm a{
    text-decoration: none;
    color: white;
}




/* Tela de Cadastro */
.top-bar{
    position: fixed;
    top: 0;
    background-color: var(--mainColor);
    width: 100%;
    height: 90px;
    
    font-family: roboto2;
    font-size: 26px;

    z-index: 2;
}

.top-bar p{
    margin: 0;
    margin-left: 10px;
    margin-top: 42px;
    width: 200px;
}

.form{
    margin-top: 150px;

    text-align: center;
}

.form p{
    font-family: 'secondaryFont';
    font-size: 25px;
    text-align: center;
}

.genero{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-right: auto;
    margin-left: auto;

    max-width: 320px;
}

input[type="radio"]{
    -webkit-appearance: none;
    
}

label{
    position: relative;
    margin: auto;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
}

.masc-label {
    color: #3491D0;
    border: 2px solid;
    transition: .5s;
}

.fem-label{
    color: #FF64EF;
    border: 2px solid;
    transition: .5s;
}

input#masc[type="radio"]:checked + label{
    background-color: #3491D0;
    color: var(--bgColor);
}

input#fem[type="radio"]:checked + label{
    background-color: #FF64EF;
    color: var(--bgColor);
}

.campos{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    margin-top: 25px;    
}

.campos input{
    width: 320px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;

    text-align: left;
}

.campos input::placeholder{
    font-size: 20px;
    color: var(--bgColor);

    text-align: left;

    position: relative;
    left: 10px;
}

#mostrarSenha{
    background-color: transparent;
    border: none;

    position: relative;
    bottom: 42px;
    left: 90px;

    visibility: hidden;

    font-size: 17px;
    transition: .2s;
}

.login #mostrarSenha{
    position: relative;
    bottom: 50px;
}

#btnCadastrar{
    position: relative;
    left: auto;
    bottom: 20px;
}





/* Menu */
.barbearias-proximas{
    margin-top: 100px;

    display: flex;
    justify-content: center;

    height: 40px;

    margin-bottom: 20px;
}

.barbearias-proximas h1{
    font-size: 20px;
    text-decoration: underline;
}

.barbearias-proximas p{
    color: white;
    font-size: 25px;

    position: relative;
    right: 5px;
    bottom: 15px;
}

.filtro{
    width: 135px;
    height: 35px;

    border: 2px solid white;
    border-radius: 10px;

    font-size: 17px;

    margin-left: 200px;
}

.filtro label{
    position: relative;
    bottom: 80px;
    left: 15px;
}

.filtro p{
    font-size: 20px;
    position: relative;
    bottom: 13px;
    left: 20px;
}

.barbearia{
    width: 330px;
    height: 120px;

    border: 1px solid white;
    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;

    transition: .3s;
}

.barbearia-info{
    margin-top: 30px;
}

.barbearia-info span{
    position: relative;
    left: 195px;
    top: 45px;

    color: red;
    font-size: 18px;
}

.fa-edit {
    color: white;
}

.barbearia a{
    color: white;
    text-decoration: none;
}

.barbearia-foto{
    height: 120px;
    width: 100px;

    border: 1px solid white;
    border-radius: 15px;
}

.barbearia-foto img{
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.barbearia-info{
    position: relative;
    left: 110px;
    bottom: 160px;

    width: 220px;

    font-size: 13px;
}

.barbearia-info h1{
    font-size: 20px;
}

nav{
    background-color: var(--bgColor);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-top: 1px solid white;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 15px;
}

nav ul li{
    color: var(--textColor);
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15pt;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.btnAgendar{
    width: 315px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--mainColor);

    position: relative;
    right: 105px;
    top: 20px;

    margin-top: 15px;

    display: flex;
    align-items: center;

    font-size: 25px;
    
    visibility: hidden;

    transition: visibility 0.1s ease-in-out;
}

.btnAgendar a{
    text-decoration: none;
    color: white;
    width: 320px;

    position: relative;
    display: flex;
    justify-content: center;
}




/* Menu Barbearia */
.top-bar span{
    font-size: 30px;
    margin-left: 325px;
    
    position: relative;
    bottom: 33px;
}

.top-bar span a {
    color: white;
    text-decoration: none;
}

#pesquisa{
    margin: 100px 0px 0px 0px;

    width: 325px;
    height: 45px;

    border-radius: 30px;
    border-color: white;

    background-color: var(--bgColor);

    color: white;
    font-size: 25px;
}

#pesquisa::placeholder{
    color: white;
    font-family: roboto2;
    font-size: 25px;
    
    position: relative;
    left: 15px;
}

.pesquisa{
    display: flex;
    justify-content: center;
}

.pesquisa span{
    font-size: 25px;
    position: relative;
    left: 300px;
    top: 110px;
}






/* Usuário */
.user-info{
    margin-top: 130px;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
}

.user-name{
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 15px;
}

.user-name h1{
    font-size: 20px;
    margin: 0;
    margin-bottom: 13px;
}

.user-name p{
    font-size: 15px;
    margin: 0;
    margin-bottom: 13px;
}

.proximos-horarios{
    margin-left: auto;
    margin-top: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proximos-horarios h2{
    margin-right: 80px;
}

.horarios{
    border: 1px solid white;
    border-radius: 20px;

    width: 300px;
    height: 90px;

    padding: 5px;
    margin: 0;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "barbearia servico"  "horario valor";

    text-align: center;
}

.horarios h4{
    margin: 10px;

    font-size: 20px;
    grid-area: barbearia;
}

.horarios p{
    margin-top: 12px;
}

.servicos{
    grid-area: servico;
}

.dia-hora{
    grid-area: horario;
}

.valor{
    grid-area: valor;
}

.sair{
    position: relative;
    top: 20px;

    text-align: right;
    margin-right: 30px;
}

.sair a{
    color: red;
    text-decoration: none;
    font-size: 30px;
}







/* Agendar */
.agendarForm{
    margin-top: 110px;
    margin-left: auto;
    margin-right:auto;

    width:80%;
    text-align: center;
}

.agendarForm h1{
    text-align: center;
}

.labeldate{
    width: fit-content;
}

input#data{
    margin-top: 15px;
    width: 175px;
    height: 30px;

    border-radius: 15px;

    background-color: var(--bgColor);
    color: white;
}

.labelSelect{
    width: fit-content;
}

#selServicos{
    color: white;
    background-color: var(--bgColor);

    height: 30px;
    width: 180px;

    border-radius: 10px;
}

#marcarHorario{
    margin-top: 15px;
}







/* Adm */
.admForm{
    margin-top: 110px;
    margin-left:auto;
    margin-right: auto;
    font-size: 18px;

    width: 250px;
}

.admForm h1{
    font-size: 26px;
    text-align: center;
}

.admForm input{
    width: 250px;
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--mainColor);

    color: white;
    font-size: 17px;
}

.buscar{
    margin-left:auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 50px;

    width: 250px;
}

.buscar input{
    width: 250px;
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--mainColor);

    color: white;
    font-size: 17px;
}

#botao{
    width: 250px;
    height: 40px;
    background-color: var(--mainColor);

    border: none;
    color: white;
    font-family: mainFont;
    font-size: 18px;

    border-radius: 10px;
}

.btnBuscar{
    width: 250px;
    height: 40px;
    background-color: var(--mainColor);

    border: none;
    color: white;
    font-family: mainFont;
    font-size: 18px;

    border-radius: 10px;
}



.del-edit{
    position: relative;
    left:150px;
    bottom: 90px;

    display: flex;
    flex-direction: column;

    width: fit-content;
}

.del-edit button{
    border-radius: 10px;
    font-weight: 600;
}

.btnDeletar{
    background-color: red;
    color: white;
}


.cliente{
    width: 330px;
    height: 120px;

    border: 1px solid white;
    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;

    font-size: 13px;

}

.cliente-info{
    position: relative;
    margin-left: 20px;
    bottom: 20px;
}

.del-edit-user{
    position: relative;
    left:210px;
    bottom: 90px;

    display: flex;
    flex-direction: column;

    width: fit-content;
}

.del-edit-user button{
    border-radius: 10px;
    font-weight: 600;
}

@media only screen and (min-width: 400px){

}